<div class="row text-center">
	<img class="img-responsive index-icon" src="<%=url("images/food_icon.png")%>" alt="Food Icon">
	<h2><%=@main_heading%></h2>
</div>
<div class="row text-center" style="margin-bottom:25px;">
<% if @viewing_own_profile_while_logged_in %>
	<span>
		<a class="btn btn-primary btn-lg" role="button" href="<%=url("/foods/new")%>">Add New</a>
	</span>
<% end %>
</div>
<%= erb display_all_obj_associations_by_date(@user,:foods,"name","calories") %>