<div class="container">
  <h1>New Meal</h1>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="name-input">Name</label>
      <input id="name-input" class="form-control" type="text" name="food[name]" required placeholder="Name of Meal">
    </div>
    <div class="form-group">
      <label for="calories-input">Calories</label>
      <input id="calories-input" class="form-control" type="type" name="food[calories]" required placeholder="Calories Consuming">
    </div>
    <input class="btn btn-default" type="submit" value="Login">
  </form>
</div>