<div class="container">
	<h2 class="text-center">Error</h2>
	<div class="row">
		<img id="error-pic" class="center-block img-responsive" src="<%=url("images/shoulder-shrug-cartoon.jpg")%>" alt="Oops! Error picture">
	</div>
	<h2 class="text-center">Sorry,</h2>
	<h2 class="text-center"><%=flash[:error]%></h2>
</div>