<div class="container">
	<div class="row">
		<img id="error-pic" class="center-block img-responsive" src="<%=url("images/shoulder-shrug-cartoon.jpg")%>" alt="Oops! Error picture">
	</div>
	<h2><%=flash[:error]%></h2>
</div>