<div class="jumbotron">
	<h1>Welcome to Fitness Tracker!</h1>
	<div class="row">
		<p>New to the site?</p>
		<a class= "btn btn-large btn-primary" role="button" href="/signup">Register</a>
	</div>
	<div class="row">
		<p>Already have an account?</p>
		<a class= "btn btn-large btn-primary" role="button" href="/login">Log In</a>	
	</div>
</div>