<div class="jumbotron">
	<div class="container">
		<h1>Welcome to Fitness Tracker!</h1>
		<p>New to the site?</p>
		<a class= "btn btn-large btn-primary" role="button" href="/signup">Register</a>
		<h2>Already have an account?</h2>
		<a class= "btn btn-large btn-primary" role="button" href="/login">Log In</a>
	</div>
</div>

