<div class="container">
  <h2>Login</h2>
  <form action="/login" method="POST">
    <div class="row">
      <input class="col-sm-5" type="text" name="user[username]" placeholder="Username">
    </div>
    <div class="row">
      <input class="col-sm-5" type="password" name="user[password]" placeholder="Password">
    </div>
    <input type="submit" value="Login">
  </form>
</div>