<div class="container">
  <h1>New Exercise</h1>
  <form action="/login" method="POST">
    <div class="form-group">
      <label for="name-input">Name</label>
      <input id="name-input" class="form-control" type="text" name="exercise[name]" required placeholder="Type of Exercise">
    </div>
    <div class="form-group">
      <label for="calories-burned-input">Calories Burned</label>
      <input id="calories-burned-input" class="form-control" type="type" name="exercise[calories_burned]" required placeholder="Calories Burned">
    </div>
    <input class="btn btn-default" type="submit" value="Login">
  </form>
</div>